name: "Close Stale Issues"
on:
  schedule:
    - cron: '0 0 * * *' # Runs every day at midnight

jobs:
  stale:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/stale@v9
        with:
          stale-issue-message: 'This issue is stale because it has been open 30 days with no activity.'
          days-before-stale: 30
          days-before-close: 5
